@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <div class="container">
        <h1>Appointment Hub</h1>
        <p class="lead">Mvc appointment system</p>
    </div>
</div>

<div class="container body-content">

    <section id="about">
        <div class="row">
            <div class="col-md-4">
                <p>
                    Appointment Hub is an appointment schedulling application written in ASP.NET MVC 5. The purpose of this application is to streamline the
                    booking of appointments in situations akin to a doctors office.
                </p>
                <p>
                    A contact in this case a doctor will be able to log into the system and set up their availability for appointments in the coming future. Users
                    are then able to see the doctors free appointments and can book said appointments.
                </p>

                <p>
                    As appointments are booked the system manages the contacts availability, so that it is not possible to double book an appointment
                </p>
            </div>
            <div class="col-md-8">
                <img src="~/Content/Images/bookappointment.png" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </section>

    <hr />

    <section id="technologies">
        <div class="row">
            <div class="col-6 col-md-3">
                <h2>MVC 5</h2>
            </div>
            <div class="col-6 col-md-3">
                <h2>EF 6</h2>
            </div>
            <div class="col-6 col-md-3">
                <h2>Bootstrap 4</h2>
            </div>
            <div class="col-6 col-md-3">
                <h2>Ninject</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <h2>Moq</h2>
            </div>
            <div class="col-6 col-md-3">
                <h2>Jquery</h2>
            </div>
            <div class="col-6 col-md-3">
                <h2>Auto Mapper</h2>
            </div>
            <div class="col-6 col-md-3">
                <h2>Fluent Validation</h2>
            </div>
        </div>
    </section>

    <hr />

    <section id="further-details">
        <div class="row">
            <div class="col-md-8">
                <img src="~/Content/Images/availability.png" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-md-4">
                <p>
                    Appointment Hub makes use of boot straps responsive elements and allows the site to the useable on mobile, tablet and desktop devices
                </p>
            </div>
        </div>
    </section>
</div>
